<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infinite scroll example</title>
    <link href="style.css" rel="stylesheet" />
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="../dist/angular-infinite-scroll.js"></script>
</head>

<body ng-app="example">
    <main ng-controller="ExampleController">
        <div class="example-container">
            <h1>Simple list</h1>

            <div class="scroll-container">
                <div infinite-scroller="item in items">
                    {{item}}
                </div>
            </div>

            <button ng-click="items[1] = items[1]+1">update second element</button>
            <button ng-click="items.splice(2,1)">remove third element</button>
            <button ng-click="items.splice(2,0,1000)">insert new to third place</button>
        </div>

        <div class="example-container">
            <h1>Floating list</h1>

            <div class="float-scroll-container">
                <div infinite-scroller="item in items" class="float-item" use-revealer>
                    {{item}}
                </div>
            </div>
        </div>

        <div class="example-container">
            <h1>Complex list</h1>

            <div class="scroll-container">
                <div infinite-scroller="stuff in stuffs">
                    <div class="stuff">
                        <span ng-bind="stuff.id"></span>
                        <input type="text" ng-model="stuff.name" />
                        <select ng-model="stuff.color">
                            <option value="red">Red</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                        </select>
                        <span class="color-box" ng-style="{background:stuff.color}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h1>Table</h1>
            <table>
                <thead>
                    <tr>
                        <th class="col id">id</th>
                        <th class="col name">name</th>
                    </tr>
                </thead>
                <tbody class="scroll-container">
                    <tr infinite-scroller="row in rows">
                        <td class="col id">{{row.id}}</td>
                        <td class="col name">{{row.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </main>
    <script src="example.js"></script>
</body>

</html>