div.example-container {
    width: 50%;
    height: 400px;
    margin: 0;
    padding: 0;
    float: left;
}

div.scroll-container {
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    display: inline-block;
}

div.float-scroll-container {
    height: 200px;
    width: 200px;
    overflow-y: scroll;
}

div.controlls {
    width: 200px;
    display: inline-block;
}

div.float-scroll-container .float-item {
    width: 33%;
    float: left;
}

div.float-scroll-container .float-item:nth-child(3n+1) {
    clear: both;
}

table thead, table tbody {
    display: block;
}

table thead th {
    text-align: left;
}

tbody.scroll-container {
    height: 200px;
    overflow-y: scroll;
}

table tbody tr, table thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead th.col.id, tbody td.col.id {
    width: 20px;
}

thead th.col.name, tbody td.col.name {
    width: 100%;
}

span.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
}