<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infinite scroll example</title>
    <link href="style.css" rel="stylesheet" />
    <script src="dist/angular.min.js"></script>
    <script src="dist/angular-infinite-scroller.min.js"></script>
</head>

<body ng-app="example">
    <main ng-controller="ExampleController">
        <div class="example-container">
            <h1>Simple list</h1>
            <div id="simple-list" class="scroll-container">
                <div infinite-scroller="item in items">
                    {{item}}
                </div>
            </div>
        </div>

        <div class="example-container">
            <h1>Ordered person list</h1>
            <div id="person-list" class="scroll-container">
                <div infinite-scroller="person in persons | orderBy:'name'">
                    {{person.name}}
                </div>
            </div>
            <input id="txtName" type="text" ng-model="newName"/>
            <button id="btnAddPerson" ng-click="addPerson()">Add person</button>
            <button id="btnInitPersons" ng-click="initPersons()">Init persons</button>
        </div>
    </main>
    <script src="example.js"></script>
</body>

</html>